@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 32px;
}

p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.h-center {
    text-align: center;
}